@page "/"

<h1>XML formater</h1>

<EditForm Model="@textInputModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputTextArea id="text" @bind-Value="textInputModel.Text" class="InputTextArea" placeholder="Provide XML here..." />

    <button type="submit">Format</button>

    <br /><br /><label hidden="@isHideFormatedResults">Formatted result:</label>
    <pre>@formatedResult</pre>
</EditForm>

@code {
    private TextInputModel textInputModel = new TextInputModel();
    private bool isHideFormatedResults = true;
    private string formatedResult;

    private void HandleValidSubmit()
    {
        isHideFormatedResults = false;
        formatedResult = Formaters.FormatXml(textInputModel.Text);
    }
}
